In [ ]:
1. Values = 'hello', -87.8, 6.
    #Expressions = -,/,+,*

In [ ]:
#2. A 'string' is a value representing text whereas a 'variable' is a name that refers to any value.

In [2]:
#3. Three different types are:
#i) Text Type:	'str'
#ii) Numeric Types:	'int','float', 'complex'
#iii) Boolean Type:	'bool

In [2]:
#i. 
'apple'

'apple'

In [4]:
type('apple')

str

In [8]:
#ii
a =10
type(a)

int

In [6]:
b = 1.1
type(b)

float

In [9]:
#iii
True
type(True)

bool

In [ ]:
#4. An expression is a combination of different variables,operations.
When we write this expression in pyhton it evaluates it and then displays the result.

In [ ]:
#5. An expression evaluates to a single value but statement never return any value also cannot print any result.

In [ ]:
#6. Bacon is 22

In [15]:
#7. 
'spam' + 'spamspam'

'spamspamspam'

In [13]:
'spam'*3

'spamspamspam'

In [ ]:
#8. Eggs a valid variable name while 100 is invalid because variable name starts with alphabet not with number.

In [ ]:
#9. The int(), float(), and str() functions used to get the integer, floating-point number, or string version of a value.

In [16]:
#10. 
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [19]:
# Can only concatenate str (not int) to str so we will make it as string.

In [17]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'